@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-manrope: "Manrope", sans-serif;
    /*500 700 13px*/

    --very-dark-grayish-blue:hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue:hsl(210, 46%, 95%);
}
*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 13px;
}

body {
    font-family: var(--font-manrope);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
}

.container{
    max-width: 750px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 0.75rem;
}
.container-text {
    padding:3rem;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}

.container-img {
    width: 300px;
    height: 300px;
    background-image: url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius:  0.75rem;
    border-bottom-left-radius: 00.75rem;

}
.author-img{
    width: 3rem;
    border-radius: 50%;

}
.hidden {
    display: none;
}
